<%- include('../partials/header') %>

    <h2>New Skill</h2>
    <form action="/skills" method="POST">
        <input type="text" name="skill">
        <button type="submit">ADD SKILL</button>
    </form>

    <%- include('../partials/footer') %>