body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #D4ECDD;
    text-align: center;
}

a {
    color: #345B63;
}

.delete-form {
    display: inline-block;
    margin-right: 10px;
}

.delete-form button {
    color: red;
}

li {
    list-style: none;
    margin: 0.6vmin;
}

h1 {
    color: #112031;
}

ul {
    display: grid;
    justify-items: left;
    align-items: left;
    justify-content: center;
}